version: "3.8"

services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: mailserver
    hostname: mail.tijnn.dev
    domainname: tijnn.dev
    volumes:
      - ./maildata:/var/mail
      - ./mailstate:/var/mail-state
      - ./maillogs:/var/log/mail
      - ./config:/tmp/docker-mailserver
      - /etc/server-manager/mail-certs:/tmp/docker-mailserver/ssl:ro
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "993:993"
    environment:
      ENABLE_IMAP: 1
      ENABLE_POP3: 0
      ENABLE_SPAMASSASSIN: 1
      ENABLE_CLAMAV: 1
      ENABLE_SMTPS: 1
      SMTP_ONLY: 0
      TLS_LEVEL: modern
      SSL_TYPE: manual
      SSL_CERT_PATH: /tmp/docker-mailserver/ssl/fullchain.pem
      SSL_KEY_PATH: /tmp/docker-mailserver/ssl/privkey.pem
      POSTMASTER_ADDRESS: postmaster@tijnn.dev
      OVERRIDE_HOSTNAME: mail.tijnn.dev
      ONE_DIR: 1
      DMS_DEBUG: 1
    restart: always
    networks:
      - mailnetwork

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    ports:
      - "8080:80"
    environment:
      ROUNDCUBEMAIL_DEFAULT_HOST: tls://mailserver
      ROUNDCUBEMAIL_DEFAULT_PORT: 143
      ROUNDCUBEMAIL_SMTP_SERVER: tls://mailserver
      ROUNDCUBEMAIL_SMTP_PORT: 587
      ROUNDCUBEMAIL_SMTP_USER: "%u"
      ROUNDCUBEMAIL_SMTP_PASSWORD: "%p"
      ROUNDCUBEMAIL_SMTP_AUTH_TYPE: LOGIN
      ROUNDCUBEMAIL_IMAP_CONN_OPTIONS: '{"ssl":{"verify_peer":false,"verify_peer_name":false}}'
      ROUNDCUBEMAIL_SMTP_CONN_OPTIONS: '{"ssl":{"verify_peer":false,"verify_peer_name":false}}'
      ROUNDCUBEMAIL_REQUEST_PATH: /roundcube/
    depends_on:
      - mailserver
    restart: always
    networks:
      - mailnetwork

networks:
  mailnetwork:
    driver: bridge