{% extends 'layout.html' %}

{% block content %}

<div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="" id="navbarNav">
                <ul class="navbar-nav">
                    {% if has_permission(service.name, "console") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "console" in g.page %} active {% endif %}" href="/services/console/{{ service.name }}">Console</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "settings") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "settings" in g.page %} active {% endif %}" href="{{ url_for('service.settings', name=service.name) }}">Settings</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "file") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "file" in g.page %} active {% endif %}" href="{{ url_for('files.file_manager', name=service.name) }}">File Manager</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "discord") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "discord" in g.page %} active {% endif %}" href="{{ url_for('service.discord', name=service.name) }}">Discord</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "nginx") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "nginx" in g.page %} active {% endif %}" href="{{ url_for('nginx.nginx', name=service.name) }}">Nginx</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "git") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "git" in g.page %} active {% endif %}" href="{{ url_for('git.git', name=service.name) }}">Git</a>
                    </li>
                    {% endif %}
                    {% if has_permission(service.name, "sub_users") %}
                    <li class="nav-item">
                        <a class="nav-link {% if "subusers" in g.page %} active {% endif %}" href="{{ url_for('service.subusers', name=service.name) }}">Sub Users</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    <div>
        {% block service_content %}
        {% endblock service_content %}
    </div>
</div>
{% endblock content %}
