{% extends 'layout.html' %}

{% block content %}

<div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if "console" in g.page %} active {% endif %}" href="/services/console/{{ service.name }}">Console</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if "settings" in g.page %} active {% endif %}" href="{{ url_for('service.settings', name=service.name) }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/files/manage?location={{ service.name }}">File Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if "discord" in g.page %} active {% endif %}" href="{{ url_for('service.discord', name=service.name) }}">Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if "discord" in g.page %} active {% endif %}" href="{{ url_for('nginx.', name=service.name) }}">Discord</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div>
        {% block nginx_content %}
        {% endblock nginx_content %}
    </div>
</div>
{% endblock content %}
