{% extends 'layout.html' %}

{% block content %}
<style>
    .console-output {
        background-color: #333;
        color: white;
        font-family: monospace;
        padding: 15px;
        height: 600px;
        overflow-y: scroll;
        font-size: 13px;
        white-space: pre-wrap;
    }
</style>

<div class="container mt-5">
    <h1 class="">Console for {{ service.name }} <a href="{{ url_for('service.settings', name=service.name) }}" class="ml-3">
        <i class="fas fa-cogs"></i> Settings
    </a></h1>
    
    <div class="text-dark mb-4">
        Status: 
        <span class="server-status text-{{ 'success' if service.get_status() == 'running' else 'danger' }}">
            <span class="server-status-label">{{ service.get_status() | capitalize }}</span>
        </span>
    </div>

    <div class="text-dark mb-4">
        Uptime: 
        <span id="service-uptime">Fetching uptime...</span>
    </div>

    <div class="console-output" id="console-output"></div>

    <div class="mt-3">
        <button class="btn btn-success mt-2 " onclick="startService('{{ service.name }}')">Start</button>
        <button class="btn btn-danger mt-2" onclick="stopService('{{ service.name }}')">Stop</button>
        <button class="btn btn-warning mt-2" onclick="restartService('{{ service.name }}')">Restart</button>
    </div>
</div>

<script>
    const consoleOutput = document.getElementById('console-output');
    const commandInput = document.getElementById('command-input');
    const uptimeElement = document.getElementById('service-uptime');

    async function startConsole() {
        const eventSource = new EventSource(`/services/console/{{ service.name }}/logs`);
        const seenMessages = new Set();

        eventSource.onmessage = function(event) {
            const message = event.data;

            if (!seenMessages.has(message)) {
                consoleOutput.innerHTML += message + '\n';
                consoleOutput.scrollTop = consoleOutput.scrollHeight;

                seenMessages.add(message);
            }
        };

        eventSource.onerror = function(error) {
            // consoleOutput.innerHTML += "Error: Unable to stream logs.\n";
        };
    }

    // Function to fetch uptime every second
    async function fetchUptime() {
        setInterval(async () => {
            try {
                const response = await fetch(`/services/console/{{ service.name }}/uptime`);
                if (response.ok) {
                    const data = await response.json();
                    uptimeElement.innerText = data.uptime;
                } else {
                    console.error('Failed to fetch uptime');
                }
            } catch (error) {
                console.error('Error fetching uptime:', error);
            }
        }, 1000); // Fetch uptime every second
    }

    startConsole();
    fetchUptime(); // Start fetching uptime

    async function startService(name) {
        try {
            const response = await fetch(`{{ url_for('service.start_service', name="") }}` + name, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', 
                }, 
            });
            if (response.ok) {
                consoleOutput.innerHTML += `Service start command received\n`;
                consoleOutput.scrollTop = consoleOutput.scrollHeight;
                updateServiceStatus('running');
                const errorMessage = await response.text();
                console.log(errorMessage)
            } else {
                const errorMessage = await response.text();
                alert('Failed to start service');
                console.log(errorMessage)
            }
        } catch (error) {
            alert('An error occurred while stopping the service');
            console.error('Fetch error:', error);
        }
    }

    async function stopService(name) {
        const response = await fetch(`{{ url_for('service.stop_service', name="") }}` + name, { method: 'POST' });
        if (response.ok) {
            consoleOutput.innerHTML += `Service stop command received\n`;
            consoleOutput.scrollTop = consoleOutput.scrollHeight;
            updateServiceStatus('exited');
        } else {
            alert('Failed to stop service');
            console.log(response)
        }
    }

    async function restartService(name) {
        consoleOutput.innerHTML += `Restarting service...\n`;
        consoleOutput.scrollTop = consoleOutput.scrollHeight;
        
        const stopResponse = await fetch(`{{ url_for('service.stop_service', name="") }}` + name, { method: 'POST' });
        if (stopResponse.ok) {
            consoleOutput.innerHTML += `Service stopped successfully.\n`;
            consoleOutput.scrollTop = consoleOutput.scrollHeight;
            
            setTimeout(async () => {
                const startResponse = await fetch(`{{ url_for('service.start_service', name="") }}` + name, { method: 'POST' });
                if (startResponse.ok) {
                    consoleOutput.innerHTML += `Service started successfully.\n`;
                    consoleOutput.scrollTop = consoleOutput.scrollHeight;
                    updateServiceStatus('running');
                } else {
                    alert('Failed to start service after stopping');
                }
            }, 2000);
        } else {
            alert('Failed to stop service');
        }
    }

    function updateServiceStatus(status) {
        const statusText = document.querySelector('.server-status');
        const statusLabel = document.querySelector('.server-status-label');

        if (status === 'running') {
            statusText.classList.remove('text-danger');
            statusText.classList.add('text-success');
            statusLabel.innerText = 'Running';
        } else {
            statusText.classList.remove('text-success');
            statusText.classList.add('text-danger');
            statusLabel.innerText = 'Exited';
        }
    }
</script>
{% endblock content %}
