{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5 create-container">
        <h1 class="mb-4">Create a New Process</h1>

        <form id="add-process-form" class="card p-4 shadow-sm">
            <div class="form-group mb-3">
                <label for="process-name" class="form-label">Process Name</label>
                <input type="text" id="process-name" class="form-control" placeholder="Process Name" required>
            </div>

            <div class="form-group mb-3">
                <label for="process-command" class="form-label">Command</label>
                <input type="text" id="process-command" class="form-control" placeholder="Command" required>
            </div>
            <div class="form-group mb-3">
                <label for="process-dependencies" class="form-label">Dependencies</label>
                <input type="text" id="process-dependencies" class="form-control" placeholder="Dependencies" required>
            </div>
            <div class="form-group mb-3">
                <label for="process-type" class="form-label">Process Type</label>
                <select id="process-type" class="form-select">
                    {% for type in types %}
                    <option value="{{type}}">{{type | capitalize}}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="button" class="btn btn-primary" onclick="addProcess()">Add Process</button>
        </form>

        {% if success %}
            <div class="alert alert-success mt-4">{{ success }}</div>
        {% endif %}
        
        {% if error %}
            <div class="alert alert-danger mt-4">{{ error }}</div>
        {% endif %}
        
        <a href="/" class="btn btn-secondary mt-4">Back to Dashboard</a>
    </div>

    <script>
        async function addProcess() {
            const name = document.getElementById('process-name').value;
            const command = document.getElementById('process-command').value;
            const dependencies = document.getElementById('process-dependencies').value;
            const type = document.getElementById('process-type').value;
            const response = await fetch('{{ url_for('process.add_process') }}', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name, command, type, dependencies })
            });
            if (response.ok) {
                alert('Process added successfully');
                const responseData = await response.json();
                const redirectUrl = responseData.redirect_url;

                window.location.href = redirectUrl;
            } else {
                console.log(response)
                const responseData = await response.json();
                alert('Failed to add process :' + responseData);
            }
        }
    </script>
{% endblock content %}
