<!DOCTYPE html>
<html lang="en"
{% if page_title and page_title == "File Manager" %}
ondragover="handleDragOver(event)" 
    ondragenter="handleDrag(event, '{{ current_location }}');" 
    ondragleave="handleDragLeave(event);" 
    ondrop="handleFileDrop(event, '{{ current_location }}');"
    {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/puregarden_fav.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>web-monitor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
    {% if page_title and page_title == "File Manager" %}
    <div id="drag-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 1.5rem; text-align: center;">
            Drop your files here
        </div>
    </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand d-flex align-items-center me-4" href="/">
                Web-Monitor
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/process/create">Create Process</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary ms-4" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <script>
        let dragOverTimeout;

        function handleDragOver(event) {
            event.preventDefault();
            const overlay = document.getElementById('drag-overlay');

            overlay.style.display = "block";

            clearTimeout(dragOverTimeout);
        }

        function handleDragLeave(event) {
            const overlay = document.getElementById('drag-overlay');

            dragOverTimeout = setTimeout(() => {
                overlay.style.display = "none";
            }, 100);
        }

        function handleFileDrop(event, targetPath) {
            event.preventDefault();
            const overlay = document.getElementById('drag-overlay');
            
            clearTimeout(dragOverTimeout);
            overlay.style.display = "none";

            const files = event.dataTransfer.files;

            if (files.length > 0) {
                const formData = new FormData();
                for (const file of files) {
                    formData.append('file', file);
                }
                formData.append('targetPath', targetPath);
                fetch('{{ url_for("files.upload_file") }}', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Files uploaded successfully.');
                            location.reload();
                        } else {
                            return response.json().then(data => {
                                alert(`Upload failed: ${data.error}`);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error uploading files:', error);
                        console.log(error)
                        alert('An error occurred while uploading files.');
                    });
            }
        }
    </script>
</body>
</html>
